/* 기존 스타일 오버라이딩 */
* {
    font-family: 'campton', 'Apple SD Gothic Neo', 'NanumBarunGothic', '나눔바른고딕', 'Malgun Gothic', '맑은 고딕', 'dotum', 'sans-serif';
}

/* 달력 요일부분 밑줄 표시 없애기 */
abbr {
    text-decoration: none !important;
    .weekday {
        color: black !important;
    }
}

.react-calendar {
    width: 100%;
    background: white;
    border-radius: 16px;
    position: relative;
    line-height: 1.125em;
    height: auto;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.04); */
    align-items: center;
    /* padding-top: 24px;
    padding-bottom: 24px; */
    /* padding-left: 32px;
    padding-right: 32px; */
    display: flex;
    flex-direction: column;
}

.react-calendar__year-view__months__month > * {
    color: black !important;
}

.todoDiv {
    display: table;
    height: 0.7em;
    width: 0.7em;
    text-align: center;
    background: #6699ff !important;
    border-radius: 50%;
}

.todo {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-weight: 900;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    color: black;
}
.react-calendar button {
    .weekday {
        color: black;
    }
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 3px;
}

/* .react-calendar__navigation span {
    padding: 0 20px 0;
} */

.react-calendar__navigation button {
    width: auto;
    height: 100%;
    font-size: 1.4em;
    line-height: 1;
    font-family: 'campton', 'Apple SD Gothic Neo', 'NanumBarunGothic', '나눔바른고딕', 'Malgun Gothic', '맑은 고딕', 'dotum', 'sans-serif';
    font-weight: 900;
    /* color: #343a40; */
    background: none;
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

/* 양쪽 화살표 
.react-calendar__navigation__arrow {
    font-size: 0.5em; 
    color: red;
    font-weight: 600;
} 
*/

/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
} */

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    font-size: 0.8em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.833em;
    font-weight: bold;
}

.react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) {
    color: red;
}

.saturday:not(.react-calendar__month-view__days__day--neighboringMonth) {
    abbr {
        color: blue !important;
    }
}

.sunday {
    abbr {
        color: red;
    }
}
/* 
.weekday {
    abbr {
        color: black !important;
    }
} */

.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    height: 60px;
    padding: 10px 5px;
    background: none;
    text-align: center;
    font-size: 0.833em;
    display: flex;
    flex-direction: column;
}

.react-calendar__tile:disabled {
    border-radius: 12px;
    background-color: #f0f0f0;
}

.react-calendar__tile--now {
    border-radius: 12px;
}
.today {
    font-weight: 700;
    color: #6699ff !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    border-radius: 12px;
    background-color: #e6e6e6;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    border-radius: 12px;
    background: #e9ecef;
    border: 0;
}

.react-calendar__tile--hasActive {
    border-radius: 12px;
    /* background: #76baff; */
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    border-radius: 12px;
    /* background: #a9d4ff; */
}

.react-calendar__tile--active:not(.today) {
    border-radius: 12px;
    background: #e9ecef;
    border: 0;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    border-radius: 12px;
    background: #e9ecef;
    border: 0;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
